{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <link rel="shortcut icon" href="{% static 'icons/favicon.svg' %}" type="image/svg">
</head>
<body>
<div class="img-style"><img src="{% static 'icons/logo-techfit1.svg' %}" alt="logo"></div>

<h1 class="title"></h1>
<div class="container">
    <form method="post">
        <button type="submit" class="button-5" formaction="/login">Entrar</button>
        <button type="submit" class="button-5" formaction="/cadastro">Cadastrar</button>
    </form>
</div>
</body>
</html>